body{
    background-color: #e9f3fd;
    font-family: "Open Sans";
}
.navbarBg{
    background-color: white;
    padding-left: 4.5%;
    color: #1470ff;
    box-shadow:0px 15px 30px #8a959e33;
}
.Logo{
    padding-top: 5px;
    width: 90%;
}
.toggle_icon{
    color: #1470ff;
}
.addlink{
    display: none;
}
.navUl{
    padding-right: 4.5%;
}
.layout{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.sidebar{
    width: 17%;
    padding-top: 2%;
}

.link{
    color: #ffffff;
}
.link:hover{
    color: #ffffff;
}

h1{
    color: #303030;
    font-size: 32px;
    font-weight: 500;
}
h3{
    color: #1470ff;
}
h2{
    font-size: 22px;
    font-weight: 600;
    color: #303030;
    text-transform: uppercase;
    padding: 5% 0 0 5%;
}
h5{
    color: #606060;
    font-size: 15px;
    padding-left: 5%;
}
h6{
    color: #606060;
    font-size: 12px;
    margin-left: 15px;
    font-weight: 600;
}
hr{
    border-top: 1px solid #00000040;
}

.actionBtn{
    width: 100%;
    margin-top: 20%;
    display: block;
}
.unactive{
    width: 100%;
    height: 45px;
    color: #1479ff;
    opacity: 0.5;
    border: 1px solid #1479ff8e;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 5%;
}
.active{
    width: 100%;
    height: 45px;
    background-color: white;
    color: #1470ff;
    border: 1px solid #1470ff;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    box-shadow:0px 15px 30px #8a959e33;
}
.active:hover, .unactive:hover{
    color: #1470ff;
    text-decoration: none;
}
.actionDiv{
    width: 45%;
    margin-top: 2%;
}
.Formdiv{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 15px 25px #1470ff66;
    margin-bottom: 2%;
}
.form-top{
    padding-top: 5%;
}
.form-group{
    padding: 0 5%;
}
.PostDiv{
    width: 45%;
    margin-top: 2%;
}
label{
    color: #303030;
    font-weight: 600;
}
.top{
    padding-top: 20px;
}
.highlight{
    border: 1px solid #1470ff;
}
.post{
    width: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow:0px 15px 30px #8a959e33;
    margin-bottom: 5%;
}
.type{
    width: 30%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
    font-size: 14px;
    font-weight: 600;
    background-color: #e5e5e5;
    margin: 15px 0 5px 15px;
    border-radius: 10px;
}
.cardTitle{
    font-size: 24px;
    font-weight: 600;
    color: #303030;
    margin-left: 15px;
    word-wrap: keep-all;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.description{
    margin: 15px;
    font-size: 16px;
    color: #606060;
}
.primary{
    width: 90%;
    margin: 5%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #1470ff;
    box-shadow:0px 15px 30px #1470ff33;
    color: white;
    text-align: center;
    justify-content: center;
}
.prim{
    width: 95%;
}
.secondary{
    width: 200px;
    height: 40px;
    border: 2px solid #1470ff;
    border-radius: 5px;
    background-color: white;
    box-shadow:0px 15px 25px #1470ff66;
    color: #1470ff;
    text-align: center;
    justify-content: center;
}
.secondary2{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #193b681a;
    box-shadow:0px 15px 25px #193b6866;
    color: #193b68;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
}
.edit{
    font-size: 12px;
    font-weight: 600;
    color: #228B22 !important;
}
.delete{
    font-size: 12px;
    font-weight: 600;
    color: #ff4444;
    cursor: pointer;
}
.end{
    display: flex;
    justify-content: space-between;
}
.action2{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.action{
    width: 30%;
    height: 20px;
    display: flex;
    justify-content: space-around;
}
.icon{
    margin: 0px 5px;
}
.divider{
    width: 100%;
    text-align: center;
    margin: 5% 0;
}
.right-sidebar{
    width: 20%;
    margin-top: 2%;
}
.Greeting{
    width: 100%;
    background-color: white;
    box-shadow:0px 15px 25px #8a959e33;
    border-radius: 16px;
}
p{
    color: #000000b3;
}
.subinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
}
.footer{
    margin-top: 20%;
    width: 100%;
    height: 50px;
    background-color: #1470ff;
    border-radius: 10px;
    box-shadow: 0px 15px 25px #1470ff33;
    text-align: center;
    display: flex;
    padding: 10px;
}
.p1{
    color: #ffffff;
}
.addi{
    margin-top: 10%;
    width: 100%;
    height: 70px;
    background-color: #1470ff1a;
    border-radius: 5px;
    box-shadow: 0px 15px 25px #1470ff66;
    text-align: center;
    display: flex;
    padding: 10px;
}
@media screen and (max-width:1000px){
    .right-sidebar{
        display: none;
    }
    .sidebar{
        width: 25%;
    }
    .actionDiv, .PostDiv{
        width: 65%;
    }
}

@media screen and (max-width:900px){
    .sidebar{
        width: 20%;
    }
}

@media screen and (max-width:760px){
    .layout{
        display: block;
        padding-left: 5%;
    }
    .addlink{
        display: block;
    }
    .sidebar{
        width: 95%;
        margin-bottom: 20%;
    }
    .actionBtn{
        margin-top: 5%;
    }
    .actionDiv, .PostDiv{
        width: 95%;
        margin-bottom: 10%;
    }
}
@media screen and (max-width:500px){
    .end{
        display: block;
    }
    .type{
        width: 60%;
    }
}
@media screen and (max-width:450px){
    .subinfo{
        display: block;
    }
    .action{
        width: 40%;
    }
}